---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <link
      rel="shortcut icon"
      href="images/logo-dark.svg"
    />
    <meta
      name="description"
      content="We help software engineers to gain best job offer."
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Beyond Tech Interview</title>
  </head>
  <style>
    * {
      font-family: monospace;
      font-size: 20px;
      padding: 0;
      margin: 0;
      border: 0;
      box-sizing: border-box;
    }

    .center {
      text-align: center;
      width: 22em;
      max-width: 100%;
      padding: 1em;
      height: 20em;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    p {
      margin: 1em 0;
    }
  </style>
  <body>
    <div class="center">
      <p>
        <img
          src="images/logo-dark.svg"
          style="height:150px;"
          alt="BTI logo"
        />
      </p>
      <p>
        <strong>Beyond Tech Interview</strong><br />
        is aimed to help software engineers <strong>to growth</strong> and gain the <strong>best job offer</strong> on the market.
      </p>
      <p>
        Subscribe to our <a href="https://t.me/beyondtechinterview">Telegram</a>
        group to get latest news.
      </p>
    </div>
  </body>
</html>
